.mst-bg-header-blog {
    background-image: url(../img/img-header/header-blog.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    height: 70rem;
    position: relative;
    width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7); /* Cambia el valor para ajustar la opacidad */
        }

            .mst-blog-content-block {
                text-align: left;
                position: relative;
                top: 20rem;
                padding: 4rem;

                
                        h1 {
                            color: $white;
                            text-align: center;
                            font-weight: 200;
                            margin-top: 0;

                            @include desktop {
                                font-size: 6rem;
                            }
                        }

                        p {
                            color: $white;
                            font-weight: 200;
                            position: relative;
                            bottom: 2.5rem;
                            text-align: center;
                        }
                
                @include tablet {
                    position: relative;
                    top: 27rem;
                    color: $white;
                    text-align: center;
                    padding: 1rem 0;


                        h1 {
                            font-weight: 200;
                            font-size: 6rem;
                            text-align: center;
                            margin: 0;
                        }

                        p {
                            color: $white; 
                            font-size: 1.5rem;
                            font-weight: 200;
                            text-align: center;
                            position: relative;
                            bottom: 1rem;
                        }
                }


                .mst-btn-blog-separation {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 3rem 0;

    
                       .mst-btns {
                        font-family: 'Lander Grande';
                        line-height: 1.3125rem;
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-pink); //#424953
                        width: 200px;
                        padding: 15px 20px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;
    
    
                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
             }
            }
}


.texto-entrada-blog {
        h1 {
            position: relative;
            top: 15rem;
            color: $white;
            font-size: 6rem;
        }
}

/*******************************************************************************/
/********************* FIRST POST ***************************/
/************************************************/
/*******************************************************************************/





.mst-posts-content-section {
    padding: 5rem;
    background-color: #F4F5F0;

    @include desktop {
        padding: 3.5rem 10rem;
    }
    
    .mst-posts-content-posts {
        
        @include desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem;
            padding: 7rem 10rem;
        }
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    margin-bottom: 5rem;
            
                    @include tablet {
                        padding: 2rem .5rem;
            
                    }
                    
                    @include desktop {
                        // padding: 5rem 0;
                        margin: 0 auto;
                        max-width: 1280px;
                    }

        .first-content-mst-section-posts {

                h2 {
                    font-weight: 150;
                     font-size: 3rem;
                }

                h3 {
                    font-weight: 150;
                    font-size: 1.8rem;;
                }

                .mst-posts-presentation-img-first {
                    picture {
                        width: 100%;
                            img {
                                width: 100%;
                            }
                    }

                    @include desktop {
                        display: none;
        
                    }
                }


                p {
        
                    @include desktop {
                        padding: 0;
                    }

                    @include desktop {
                        text-align: left;
                        margin: 1rem 0;
                        padding-left: 0;
                        padding-bottom: 3rem;
                    }
                    
                    text-align: left;
                    font-size: 1.7rem;
                    margin: 3rem 0;
                }


                .mst-btn-posts-position {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include desktop {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .mst-btns {
                        font-family: 'Lander Grande';
                        line-height: 1.3125rem;
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-blue); //#424953
                        width: 200px;
                        padding: 15px 20px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;
    
    
                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
             }
             }

        }
        
    }

    
    .mst-posts-presentation-img {
        display: none;
        @include desktop {
            display: flex;
            align-items: center;
                picture {
                    width: 100%;
                    
                        img {
                            width: 100%;
                            border-radius: 5px;
                        }
                }
        }
    }

/*******************************************************************************/
/***************** SECOND POST *******************************/
/************************************************/
/*******************************************************************************/


.mst-section-posts-content {

    background-color: var(--mst-background-sections-posts);
    padding: 5rem;


    .content-tittle-mst-section-posts {

        @include desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem;
            padding: 2rem .5rem;
            margin: 0 auto;
            max-width: 1280px;
        }



                    .mst-posts-img-first {
                        picture {
                            width: 100%;
                                img {
                                    width: 100%;
                                }
                        }
                        @include desktop {
                            display: none;

                        }
                    }

                    .mst-posts-img {
                        display: none;
                        @include desktop {
                            display: flex;
                            align-items: center;
                                picture {
                                    width: 100%;
                                    
                                        img {
                                            width: 100%;
                                            border-radius: 5px;
                                        }
                                }
                        }
                    }


                    p {

                        @include desktop {
                            padding: 0;
                        }
                    }

                    

                h2 {
                    font-weight: 150;
                    font-size: 3rem;
                }

                h3 {
                    font-size: 1.5rem;;
                    font-weight: 150;
                }

                hr {
                    width: 100%;
                }

                p {

                    @include desktop {
                        text-align: left;
                        margin: 1rem 0;
                        padding-left: 0;
                        padding-bottom: 3rem;
                    }
                    
                    text-align: left;
                    font-size: 1.7rem;
                    margin: 3rem 0;
                }

                .mst-content-section-posts-lk {
                    
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    margin-bottom: 5rem;
            
                    @include tablet {
                        // padding: 2rem .5rem;
            
                    }
                    
                    @include desktop {
                        // padding: 5rem 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
            
                }


                .mst-btn-posts-position {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include desktop {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .mst-btns {
                        font-family: 'Lander Grande';
                        line-height: 1.3125rem;
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-blue); //#424953
                        width: 200px;
                        padding: 15px 20px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;


                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
            }

    }
}







/*******************************************************************************/
/****************** THIRD POST ******************************/
/************************************************/
/*******************************************************************************/



.mst-posts-content-section {

    background-color: var(--mst-background-sections-posts); 
    padding: 5rem;


    .content-tittle-mst-section-posts {

        @include desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem;
            padding: 3.5rem 10rem;
        }



                    .mst-posts-img-first {
                        picture {
                            width: 100%;
                                img {
                                    width: 100%;
                                }
                        }
                        @include desktop {
                            display: none;

                        }
                    }

                    .mst-posts-img {
                        display: none;
                        @include desktop {
                            display: flex;
                            align-items: center;
                                picture {
                                    width: 100%;
                                    
                                        img {
                                            width: 100%;
                                        }
                                }
                        }
                    }


                    p {

                        @include desktop {
                            padding: 0;
                        }
                    }

                    

                h2 {
                    text-align: left;
                    font-size: 2.7rem;
                    font-weight: 150;

                }

                h3 {
                    font-weight: 150;
                    font-size: 1.7rem;
                }

                hr {
                    width: 100%;
                }

                p {

                    @include desktop {
                        text-align: left;
                        margin: 1rem 0;
                        padding-left: 0;
                        padding-bottom: 3rem;
                    }
                    
                    text-align: left;
                    font-size: 1.7rem;
                    margin: 3rem 0;
                }

                .mst-content-section-posts-lk {
                    
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    margin-bottom: 5rem;
            
                    @include tablet {
                        // padding: 2rem .5rem;
            
                    }
                    
                    @include desktop {
                        // padding: 5rem 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
            
                }


                .mst-btn-posts-position {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include desktop {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0 auto;
                        max-width: 1280px;
                    }

                    .mst-btns {
                        font-family: 'Lander Grande';
                        line-height: 1.3125rem;
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-blue); //#424953
                        width: 200px;
                        padding: 15px 20px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;


                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
            }

    }
}