
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    line-height: 1.8; 
    background-color:#e1d9ce; //#E6DFD7 - #E8E1DB - #F4F5F0  #2c170f
  }


  
  body::-webkit-scrollbar {
    width: 5px;
    scrollbar-width: thin;
  }
  
  body::-webkit-scrollbar-track {
    background: #f4f5f0;
    border-radius: 12px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #424953;
    border-radius: 12px;
  }

  
  p {
    color: $black;
    font-size: 1.5rem;
  }
  
  .mst-page-main-block {
    background-color: #F4F5F0;
    min-height: calc(100vh - 211px - 58px);
  }

  .contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  img,
  picture {
    width: 10rem;
    max-width: 1200px;
    object-fit: cover; /* Escala la imagen para llenar el contenedor */
    object-position: bottom; /* Alinea la imagen hacia abajo */
  }

  h1, h2, h3 {
    font-family: $prueba;
    font-weight: 300;
    
  }


  // @font-face {
  //   font-family: 'LanderGrande';
  //   src: url('/build/fonts/LanderGrande.woff2') format('woff2'),
  //        url('/build/fonts/LanderGrande.woff') format('woff');
  //   font-weight: normal;
  //   font-style: normal;
  // }

  @font-face {
    font-family: 'Newton';
    src: url('../fonts/Newton-Regular.woff2') format('woff2'),
         url('../fonts/Newton-Regular.woff') format('woff'),
         url('../fonts/Newton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h1 {
    text-align: center;
    font-weight: 400;
    font-size: 5.4375rem; /* Ajuste equivalente a 87px */
    line-height: 8.6875rem; /* Ajuste equivalente a 84px */
    font-family: 'Newton';
  }
  
  h2 {
    font-weight: 400;
    font-size: 5.4375rem; /* Ajuste equivalente a 87px */
    line-height: 4.3rem; /* Ajuste equivalente a 47px */
    font-family: 'Newton';
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 4.3rem; /* Ajuste equivalente a 47px */
    font-family: 'Newton';
  }

  h4 {
    font-size: 2.6rem;
  }

.separacion {
    padding: 3rem 0;
}

.mst-separation-footer {
  padding: 1.5rem;
}

.mst-separation-bottom {
  padding-bottom: 3rem;
}

a{
  // color: #333;
  // font-size: 13.5px;
  // font-weight: 400;
  font-size: 1.37rem;
  font-weight: 250;
  text-decoration: none;

}

span{
  font-size: 12px;

}

p{
  // font-size: 14px;
  // font-weight: 400;
  font-size: 1.5rem;
  font-weight: 250;
  letter-spacing: 0.3px;
  margin: 12px 0;
}

li {
  list-style: none;
}

hr {
  border: solid .2px #3c3c3c;
}
