.mst-bg-image-troca-de-produto {
    background-image: url(../img/img-header/header-cardapio.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    height: 70rem;
    position: relative;
    width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7); /* Cambia el valor para ajustar la opacidad */
        }

            .mst-troca-de-produto-title-content-block {
                text-align: left;
                position: relative;
                top: 20rem;
                padding: 4rem;

                
                        h1 {
                            color: $white;
                            text-align: center;
                            font-weight: 200;
                            font: 400 6vw / 5.5vw 'Abril Fatface', sans-serif;
                            font-size: 5.2rem;
                            margin-top: 0;

                            @include desktop {
                                font-size: 6rem;
                            }
                        }

                        p {
                            color: $white;
                            font-weight: 200;
                            position: relative;
                            bottom: 2.5rem;
                            text-align: center;
                        }
                
                @include tablet {
                    position: relative;
                    top: 27rem;
                    color: $white;
                    text-align: center;
                    padding: 1rem 0;


                        h1 {
                            font-weight: 200;
                            font-size: 6rem;
                            text-align: center;
                            margin: 0;
                        }

                        p {
                            color: $white;
                            font-size: 1.5rem;
                            font-weight: 200;
                            text-align: center;
                            position: relative;
                            bottom: 1rem;
                        }
                }


                .mst-btn-troca-de-produto-separation-block {

                        display: flex;
                        justify-content: center;
                        align-items: center;

    
                       .mst-btns {
                        font: 400 13px / 21px 'open sans';
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-purple); //#424953
                        width: 200px;
                        padding: 10px 40px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;
    
    
                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
             }
            }
}




.content-first-troca-de-produto-tittle-mst-section {

    
    background-color: var(--mst-background-sections); //#424953
    padding: 5rem;

    @include desktop {
        padding: 7rem 10rem;
    }

                p {

                    @include tablet {
                        padding: 0 4rem;
                    }

                    @include desktop {
                        padding: 0;
                    }
                }



                h1 {

                    @include desktop {
                        text-align: center;
                        margin: 3.5rem 0;
                        font-size: 9rem;

                    }

                    @include tablet {
                        font-size: 9rem;
                    }
                    text-align: center;
                    font: 400 6vw / 5.5vw 'Abril Fatface', sans-serif;
                    font-size: 7rem;
                 }

                p {

                    @include desktop {
                        text-align: left;
                        margin: 1rem 0;
                        padding-left: 0;
                        padding-bottom: 3rem;
                    }
                    
                    text-align: center;
                    // font: 400 13px / 21px 'open sans';
                    font-size: 1.7rem;
                    margin: 3rem 1rem;
                }

                .mst-first-troca-de-produto-text-complete {
                    
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    margin-bottom: 5rem;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 1280px;
            
                    @include tablet {
                        padding: 2rem .5rem;
            
                    }
                    
                    @include desktop {
                        padding: 5rem 0;
                        margin-top: 0;
                    }

                    .mst-paragraph-head {
                        text-align: center;
                        padding-bottom: 0;
                    }

                    .mst-troca-produtos-listado-users {
                        margin: 0;
                        padding: 0;
                    }

                    h2 {
                        font: 400 87px / 48px Abril Fatface;
                        font-size: 3rem;
                    }
            
                }

                .mst-btn-position-first-troca-de-produto {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include desktop {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }

                        .mst-btns {
                            font: 400 13px / 21px 'open sans';
                            font-size: 1.7rem;
                            background-color: var(--mst-button-background-blue);
                            width: 200px;
                            padding: 10px 40px;
                            text-align: center;
                            color: #F4F5F0;
                            border-radius: 10px;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            transition: 0.1s;
        
        
                                &:hover, &:focus, &:active {
                                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                    transform: scale(1.1);
                                }
                        }
                }

        }