
.logo img {
    width: 8rem;
    border-radius: 15rem;
}


.mst-first-bg-image-header {
    background-image: url(../img/img-header/header.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    height: 70rem;
    position: relative;
    width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7); /* Cambia el valor para ajustar la opacidad */
        }

            .mst-title-content-block {
                text-align: left;
                position: relative;
                top: 12rem; // 20rem
                padding: 4rem;


                        .misti-paragraph-principal-head {
                            position: relative;
                            top: 2rem;
                        }

                        span {
                            position: relative;
                            bottom: 2.8rem;
                        }
                
                        h1 {
                            color: $white;
                            text-align: center;
                            font-weight: 200;
                            font-size: 5.2rem;
                            
                            @include desktop {
                                font-size: 6rem;
                            }
                        }

                        p {
                            color: $white;
                            font-size: 1.5rem;
                            font-weight: 250;
                            position: relative;
                            bottom: 2.5rem;
                            text-align: center;
                            margin: 0;
                        }
                
                @include tablet {
                    position: relative;
                    top: 27rem;
                    color: $white;
                    text-align: center;
                    padding: 0;


                    

                        h1 {
                            font-weight: 200;
                            font-size: 6rem;
                            text-align: center;
                            margin: 2.5rem 0;
                        }

                        p {
                            color: $white; // #FF5733
                            font-size: 1.5rem;
                            font-weight: 250;
                            text-align: center;
                        }
                }


                .mst-btn-separation-block {

                        display: flex;
                        justify-content: center;
                        align-items: center;

    
                       .mst-btns {
                        font-family: 'Lander Grande';
                        line-height: 1.3125rem;
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-pink); //#424953  #763A53
                        width: 200px;
                        padding: 15px 20px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;
    
    
                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
             }
            }
}



.mst-block-description-Misti {

    background-color: #F4F5F0;
    position: relative;
    bottom: 3rem;

    .mst-block-content-description {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin: 0 auto;
        max-width: 1280px;

            h2 {
                font-size: 3rem;
                font-weight: 200;
                margin: 0;
                text-align: center;
            }

            p {
                color: #000;
                font-size: 1.5rem;
                font-weight: 250;
                margin: 1rem 0;
                text-align: center;
            }
    }
}

