.mst-bg-image-comunidade {
    background-image: url(../img/img-header/header-cardapio.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    height: 70rem;
    position: relative;
    width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7); /* Cambia el valor para ajustar la opacidad */
        }

            .mst-comunidade-title-content-block {
                text-align: left;
                position: relative;
                top: 20rem;
                padding: 4rem;

                
                        h1 {
                            color: $white;
                            text-align: center;
                            font-weight: 200;
                            margin-top: 0;

                            @include desktop {
                                font-size: 6rem;
                            }
                        }

                        p {
                            color: $white;
                            font-weight: 200;
                            position: relative;
                            bottom: 2.5rem;
                            text-align: center;
                        }
                
                @include tablet {
                    position: relative;
                    top: 27rem;
                    color: $white;
                    text-align: center;
                    padding: 1rem 0;


                        h1 {
                            font-weight: 200;
                            font-size: 6rem;
                            text-align: center;
                            margin: 0;
                        }

                        p {
                            color: $white;
                            font-size: 1.5rem;
                            font-weight: 200;
                            text-align: center;
                            position: relative;
                            bottom: 1rem;
                        }
                }


                .mst-btn-comunidade-separation-block {

                        display: flex;
                        justify-content: center;
                        align-items: center;

    
                       .mst-btns {
                        font-family: 'Abril Fatface';
                        line-height: 1.3125rem;
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-pink); //#424953
                        width: 200px;
                        padding: 15px 20px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;
    
    
                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
             }
            }
}



/*********************************************************************/
/********************************************/
/***********************************/
/*******************************************/
/*********************************************************************/


.content-comunidade-tittle-mst-section {

    background-color: #F4F5F0; //#424953
    padding: 3rem;

    @include desktop {
        padding: 7rem 15rem;
    }


            .mst-meioAmbiente-img {
                display: none;
                @include desktop {
                    display: flex;
                    align-items: center;
                        picture {
                            width: 100%;
                            
                                img {
                                    width: 100%;
                                }
                        }
                }
            }

                p {

                    @include tablet {
                        padding: 0 4rem;
                    }

                    @include desktop {
                        padding: 0;
                    }
                }

                h2 {
                    font-size: 2.8rem;
                    margin: 0;
                }   

                h1 {
                    text-align: left;
                    font-size: 5.5rem;

                    @include tablet {
                        font-size: 7rem;
                        margin: 5rem 0;
                    }
                    
                    @include desktop {
                        text-align: center;
                        margin: 3.5rem 0;
                        font-size: 7rem;

                    }
                 }

                p {
                    text-align: left;
                    font-size: 1.7rem;
                    margin: 3rem 0;
                    padding: 0;

                    @include desktop {
                        text-align: left;
                        margin: 1rem 0;
                        padding-left: 0;
                        padding-bottom: 3rem;
                        margin: 0 auto;
                        max-width: 1280px;
                    }
                    
                }

                .mst-comunidade-text-complete {
                    
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    margin-bottom: 5rem;

                    .mst-paragraph-tittle-comunidade {
                        p {
                            text-align: center;
                        }
                    }
            
                    @include tablet {
                        padding: 2rem .5rem;
            
                    }
                    
                    @include desktop {
                        padding: 3rem 0;
                        margin: 0;
                        margin: 0 auto;
                        max-width: 1280px;
                    }
            
                }

                .mst-btn-position-comunidade {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include desktop {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }

                        .mst-btns {
                            font-family: 'Abril Fatface';
                            line-height: 1.3125rem;
                            font-size: 1.7rem;
                            background-color: var(--mst-button-background-blue); 
                            width: 200px;
                            padding: 15px 20px;
                            text-align: center;
                            color: #F4F5F0;
                            border-radius: 10px;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            transition: 0.1s;
        
        
                                &:hover, &:focus, &:active {
                                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                    transform: scale(1.1);
                                }
                        }
                }

        }


        .mst-paragraph-separation-background-comunidade {
            background-color: var(--mst-bar-background-sections);
            @include desktop {
                padding: 5rem 15rem;
            }
            padding: 3rem;
          
            .mst-paragraph-separation-background-comunidade-content {
                margin: 0 auto;
                max-width: 1280px;

              
                    h1 {
                        margin: 0;
                        text-align: left;
                        font-size: 6rem;
                    }
            }
          }
