.mst-section-sobrenos-content {

    background-color: var(--mst-background-sections);

    .content-tittle-mst-section {

        @include tablet {
            padding: .5rem 5rem;
        }

        @include desktop {
            padding: 3rem 10rem;
        }


        @include desktop {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10rem;
            // padding: 3rem 10rem;
            margin-left: auto;
            margin-right: auto;
            max-width: 1280px;
        }

            .mst-caption-text {
                        p {
                            padding: 0;
                            margin: 0;

                            @include desktop {
                                margin: 1rem 0;
                            }
                        }
                    }


                    .mst-sobrenos-img-first {
                        picture {
                            width: 100%;
                                img {
                                    width: 100%;
                                    margin: 2rem 0;
                                    filter: brightness(90%);
                                }
                        }
                        @include desktop {
                            display: none;

                        }
                    }

                    .mst-sobrenos-img {
                        display: none;
                        @include desktop {
                            display: flex;
                            align-items: center;
                                picture {
                                    width: 100%;
                                    
                                        img {
                                            width: 100%;
                                            filter: brightness(90%);
                                        }
                                }
                        }
                    }


                    p {

                        @include tablet {
                            padding: 0 4rem;
                        }

                        @include desktop {
                            padding: 0;
                        }
                    }



                h1 {

                    text-align: center;
                    font: 400 87px / 84px Abril Fatface;
                    font-size: 7rem;
                    margin: 2rem 0;

                    @include tablet {
                        font-size: 7rem;
                    }

                    @include desktop {
                        text-align: left;
                        margin: 3.5rem 0;
                        font-size: 7rem;
                        margin: 1rem 0;
                    }


                }

                p {

                    @include desktop {
                        text-align: left;
                        margin: 1rem 0;
                        padding-left: 0;
                        padding-bottom: 3rem;
                    }
                    
                    text-align: center;
                    // font: 400 13px / 21px 'open sans';
                    // font-size: 1.7rem;
                    margin: 1rem 1rem 3rem 1rem; // margin: 3rem 1rem;
                    font-size: 1.5rem;
                    font-weight: 250;
                }

                .parrafo01 {
                    
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    margin-bottom: 5rem;
                    padding: 3.5rem;
            
                    @include tablet {
                        padding: 2rem .5rem;
            
                    }
                    
                    @include desktop {
                        padding: 5rem 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
            
                }

                .mst-btn-position {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include desktop {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }

                        .mst-btns {
                            font: 400 13px / 21px 'open sans';
                            font-size: 1.7rem;
                            background-color: var(--mst-button-background-blue); //#424953
                            width: 200px;
                            padding: 10px 40px;
                            text-align: center;
                            color: #F4F5F0;
                            border-radius: 10px;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            transition: 0.1s;
        
        
                                &:hover, &:focus, &:active {
                                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                    transform: scale(1.1);
                                }
                        }
                 }

    }

}

/*******************************************************/
/*************************************************/
/*******************************************/
/***************************************************/
/*******************************************************/


    .mst-first-bg-image-sobrenos {
        background-attachment: fixed;
        background-image: url(../img/img-pasteles/cupcake.jpg);
        background-position: 50%;
        background-size: cover;
        height: 70rem;
        position: relative;
        width: 100%;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.7); /* Cambia el valor para ajustar la opacidad */
            }

            .mst-sobrenos-title-content-block {
                text-align: left;
                position: relative;
                top: 20rem;
                padding: 4rem;

                
                        h1 {
                            color: $white;
                            text-align: center;
                            font-weight: 200;
                            font: 400 87px / 84px Abril Fatface;
                            font-size: 5.2rem;
                            margin-top: 0;
                            
                            @include desktop {
                                font-size: 6rem;
                            }
                        }

                        p {
                            color: $white;
                            font-weight: 200;
                            position: relative;
                            bottom: 2.5rem;
                            text-align: center;
                        }
                
                @include tablet {
                    position: relative;
                    top: 27rem;
                    color: $white;
                    text-align: center;
                    padding: 1rem 0;

                    

                        h1 {
                            font-weight: 200;
                            font-size: 6rem;
                            text-align: center;
                            margin: 0;
                        }

                        p {
                            color: $white; // #FF5733
                            font-size: 1.5rem;
                            font-weight: 200;
                            text-align: center;
                            position: relative;
                            bottom: 1rem;
                        }
                }


                .mst-sobrenos-btn-separation-block {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 2rem 0;

    
                       .mst-btns {
                        font: 400 13px / 21px 'open sans';
                        font-size: 1.7rem;
                        background-color: var(--mst-button-background-pink); //#424953
                        width: 200px;
                        padding: 10px 40px;
                        text-align: center;
                        color: #F4F5F0;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        transition: 0.1s;
    
    
                            &:hover, &:focus, &:active {
                                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                transform: scale(1.1);
                            }
                    }
             }
            }
    }



    .content-sobrenos-tittle-mst-section {
    
        background-color: var(--mst-background-sections);
        margin: 0 auto;
        padding: 5rem;
        
        @include tablet {
            padding: 5rem;
        }
        
        @include desktop {
            padding: 7rem 10rem;

        }

                p {
                    @include desktop {
                        padding: 0;
                    }
                }



                h1 {

                    text-align: left;
                    font: 400 87px / 84px Abril Fatface;
                    font-size: 6rem;

                    @include tablet {
                        font-size: 7rem;
                    }

                    @include desktop {
                        text-align: left;
                        margin: 3.5rem 0;
                        font-size: 7rem;

                    }

                 }

                p {
                    text-align: left;
                    // font: 400 13px / 21px 'open sans';
                    margin: 3rem 0;

                    @include desktop {
                        text-align: left;
                        margin: 0;
                        padding-left: 0;
                        padding-bottom: 0;
                        margin: 1rem 0;
                    }
                    
                }


                .mst-sobrenos-text-complete {
                    
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;
                    // padding: 5rem;
                    // margin-bottom: 5rem;

                        .mst-paragraph-tittle-sobrenos {
                            p {
                                text-align: center;
                            }
                        }
        

                        h2 {
                            font: 400 87px / 48px Abril Fatface;
                            font-size: 3rem;
                        }
                
                        @include tablet {
                            // padding: 5rem;
                
                        }
                        
                        @include desktop {
                            // padding: 7rem;
                        }
            
                }

                .mst-btn-position-sobrenos {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @include desktop {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }

                        .mst-btns {
                            font: 400 13px / 21px 'open sans';
                            font-size: 1.7rem;
                            background-color: var(--mst-button-background-blue); //#424953
                            width: 200px;
                            padding: 10px 40px;
                            text-align: center;
                            color: #F4F5F0;
                            border-radius: 10px;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            transition: 0.1s;
        
        
                                &:hover, &:focus, &:active {
                                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                                    transform: scale(1.1);
                                }
                        }
                }

        }






        .mst-paragraph-separation-background {
            background-color: var(--mst-bar-background-sections);
            padding: 5rem;
          
            @include desktop {
                padding: 5rem 10rem;
          
            }
          
                h1 {
                    margin: 0;
                    text-align: left;
                    font: 400 87px / 84px Abril Fatface;
                    font-size: 6rem;
                }
          }





